# phpstorm project files
.idea

# composer vendor dir
/vendor

# Mac DS_Store Files
.DS_Store

# node modules dir
/node_modules

# config dir
/common/config/db.php
/common/config/db_migration.php
# /common/config
# /frontend/config
# /backend/config


